
conta_salario: 1
limite_salario = 150
saldo_salario = 650

conta_poupanca = 2
limite_pop = 500
saldo_pop = 1000

extrato = '''=== EXTRATO ATUAL DO SALÁRIO ===
'''

extrato_pop = '''=== EXTRATO ATUAL DA POUPANÇA ==='''
menu =  '''
Informe seu tipo de conta:
[1] Conta Salário
[2] Conta Poupança
[0] Sair
 '''
salario = '''
Você escolheu a Conta Salário!
Selecione uma das opções seguintes:

[3] Depositar [4] Sacar [5] Extrato [0] Voltar \n'''
poupanca = '''
Você escolheu a Conta Poupança!
Selecione uma das opções seguintes:

[3] Depositar [4] Sacar [5] Extrato [0] Voltar \n'''

invalido = '''
Opção inválida. Por favor, selecione 1 para Conta Salário,
2 para Conta Poupança ou 0 para Sair.'''



while True:
    entrada = int(input(menu))


    if entrada == 1:
        opcao = int(input(salario))

        if opcao == 3:
            valor_dep = float(input("Digite o valor a ser depositado: "))
            if valor_dep > 0:
                saldo_salario += valor_dep
                extrato += (f'Depósito: R$ {valor_dep:.2f}\n')
                print(f"O {valor_dep:.2f} está sendo depositado!")
            else:
                print("Operação falhou! Tente novamente...")

        elif opcao == 4:
            valor_sac = float(input("Digite o valor que deseja sacar: "))

            excedeu_saldo = valor_sac > saldo_salario
            excedeu_limite = valor_sac > limite_salario
            
            if excedeu_saldo:
                print("Opss! Você não tem saldo suficiente.")
            elif excedeu_limite:
                print("Opss! O valor de saque excede o limite.")
            elif valor_sac > 0:
                print(f"R$ {valor_sac:.2f} sendo sacado! Retire na boca do caixa.")
                saldo_salario -= valor_sac
                extrato += (f'Saque: R$ {valor_sac:.2f}\n')
        
        elif opcao == 5:
            print(extrato)
            print("Não foram realizadas movimentações." if not extrato else extrato)
            print(f"\n Saldo: R$ {saldo_salario:.2f}")
            print("================")

    elif entrada == 2:
        opcao = int(input(poupanca))

        if opcao == 3:
            valor_dep = float(input("Digite o valor a ser depositado: "))
            if valor_dep > 0:
                saldo_pop += valor_dep
                extrato_pop += (f'Depósito: R$ {valor_dep:.2f}\n')
                print(f"{valor_dep:.2f} sendo depositado!")
            else:
                print("Operação falhou! Tente novamente...")

        elif opcao == 4:
            valor_sac = float(input("Digite o valor que deseja sacar: "))

            excedeu_saldo = valor_sac > saldo_pop
            excedeu_limite = valor_sac > limite_pop
            
            if excedeu_saldo:
                print("Opss! Você não tem saldo suficiente.")
            elif excedeu_limite:
                print("Opss! O valor de saque excede o limite.")
            elif valor_sac > 0:
                print(f"R$ {valor_sac:.2f} sendo sacado! Retire na boca do caixa.")
                saldo_pop -= valor_sac
                extrato_pop += (f'\n Saque: R$ {valor_sac:.2f}\n')
        
        elif opcao == 5:
            print(extrato)
            print("Não foram realizadas movimentações." if not extrato_pop else extrato_pop)
            print(f"\n Saldo: R$ {saldo_pop:.2f}")
            print("================")


        elif entrada == 0:
         print("Saindo do programa...")
         continuar_progama = False
        else:
            print("Voltando pro Menu Principal")
    
    elif entrada == 0:
        print("Saindo do programa...")
        break
    else:
     print(invalido)
