
conta_universitaria: 1
limite_univ = 1.500
saque_por_dia_univ = 250
saldo_univ = 500

conta_poupanca = 2
limite_pop = 2.000
saque_por_dia_pop = 500
saldo_pop = 100

 
entrada = int(input("Informe seu tipo de conta: \n [1] Conta Universitária \n [2] Conta Poupança \n [0] Sair \n"))

if entrada == 0:
    print("Saindo do programa...")
    continuar_progama = False
    

elif entrada == 1:
    while True:
        numero = int(input("Deseja \n [3] Depositar \n [4] Sacar \n [5] Extrato \n [0] Voltar \n"))
   
        if numero == 0:
                print("Voltando para a seleção de conta...")
                break

        if numero == 3:
           valor_dep = (input("Quanto deseja depositar: "))
           float(input(f"{valor_dep} sendo depositado na sua Conta Universitária! Aguarde!\n"))
    
        elif numero == 4:
           valor_sac = float(input("Quanto deseja sacar: "))
           if valor_sac > saldo_univ:
                print("Saldo insuficiente, tente novamente.. \n")
           else:
                print(f"Sacando {valor_sac}, retire na boca do caixa. \n")

        elif numero == 5:
            print(f"O seu extrato é de {saldo_univ}")

        else:
            print("Voltando pro Menu Principal")

   
elif entrada == 2:
    while True:
        numero = int(input("Deseja \n [3] Depositar \n [4] Sacar \n [5] Extrato \n [0] Voltar \n"))

        if numero == 3:
            valor_dep = (input("Quanto deseja depositar: "))
            float(input(f"{valor_dep} sendo depositado na sua Conta Poupança! Aguarde!\n"))
    
        elif numero == 4:
            valor_sac = float(input("Quanto deseja sacar: "))
            if valor_sac > saldo_pop:
             print("Saldo insuficiente, tente novamente.. \n")
            else:
                print(f"Sacando {valor_sac}, retire na boca do caixa. \n")

        elif numero == 5:
            print(f"O seu extrato é de {saldo_pop}")

        else:
            print("Voltando pro Menu Principal")

else:
 print("Opção inválida. Por favor, selecione 1 para Conta Universitária, 2 para Conta Poupança ou 0 para Sair.")
